{
    "plugins": ["prettier-plugin-brace-style"],
    "braceStyle": "allman",
    "bracketSpacing": false,
    "tabWidth": 4,
    "bracketSameLine": false,
    "useTabs": false,
    "arrowParens": "always"
}
